<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-crosswalk-webview"
      version="1.2.1-dev">

    <name>Crosswalk WebView Engine</name>
    <description>Changes the default WebView to CrossWalk</description>
    <license>Apache 2.0</license>
    <keywords>cordova,chromium,crosswalk,webview</keywords>
    <repo>https://github.com/MobileChromeApps/cordova-crosswalk-engine.git</repo>
    <issue>https://github.com/MobileChromeApps/cordova-crosswalk-engine/issues</issue>

    <engines>
      <engine name="cordova-android" version=">=4" />
      <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="webView" value="org.crosswalk.engine.XWalkWebViewEngine" />
            <preference name="lib_mode" value="embedd" />
        </config-file>

        <source-file src="src/android/XWalkWebViewEngine.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkExposedJsApi.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaResourceClient.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaUiClient.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaView.java" target-dir="src/org/crosswalk/engine" />
        <source-file src="src/android/XWalkCordovaCookieManager.java" target-dir="src/org/crosswalk/engine" />

        <framework src="src/android/xwalk.gradle" custom="true" type="gradleReference" />
    </platform>

    <info>
        If you want use Crosswalk Project Runtime in shared mode following the below instructions.
        More information you can get from https://crosswalk-project.org/documentation/shared_mode.html.
            1, Permissions
               Shared mode requires the following permissions to be enabled:
               ACCESS_NETWORK_STATE, ACCESS_WIFI_STATE, INTERNET, WRITE_EXTERNAL_STORAGE

            2, XWalkApplication
               You may use XWalkApplication directly in the Android manifest:
               application android:name="org.xwalk.core.XWalkApplication"
                   ...
               application

            3, XWalkActivity
               All routines using embedding API should be inside onXWalkReady():
               public class sharedmode extends CordovaActivity
               {
                   @Override
                   public void onCreate(Bundle savedInstanceState)
                   {
                       super.onCreate(savedInstanceState);
                   }

                   @Override
                   protected void onXWalkReady() {
                       super.init();
                       loadUrl(launchUrl);
                  }
             }

           4, CordovaActivity extends XWalkActivity:
              import org.xwalk.core.XWalkActivity;
              public abstract class CordovaActivity extends XWalkActivity implements CordovaInterface

           5, Change the value of lib_mode to shared mode in config.xml
              preference name="lib_mode" value="shared"
    </info>
</plugin>
